
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #FAFAFA;
}
header nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  border-bottom: 2px solid gray;
  background-color: white;
}
.container {
  width: auto;
}
.left_nav {
  width: 15%;
}
.middle_nav { 
  width: 30%;
}
.right_nav {
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 13%;
}
.logo {
  font-size: 35px;
  margin-left: 20px;
  font-weight: bold;
}
.highlight {
  color: #ef233c;
}
.logo_hamburger {
  display: flex;
  align-items: center; /* vertically centers items */
  justify-content: space-between; /* optional, adds space between logo and hamburger */
}

/* search bar */
.explore {
  position: relative;
}
.explore input {
  width: 100%;
  height: 35px;
  padding-left: 35px;
  background-color: #f5f5f5;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 14px;
  color: #333;
}
.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: gray;
  font-size: 14px;
}
/* location */
.location {
  position: relative;
  width: 200px;
  margin-right: 40px;
}

.location input {
  width: 100%;
  height: 35px;
  padding-left: 35px;
  border-radius: 10px;
  background-color: #F4F4F4;
  border: none;
  outline: none;
  font-size: 14px;
  color: #333;
}

.location-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: gray;
  font-size: 16px;
}
/* Home */
.home {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #2f3b52;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

.home i {
  margin-right: 8px;
  font-size: 20px;
}
/* wishlist */
.wishlist a {
  display: flex;
  align-items: center;
  font-size: 18px;
  text-decoration: none;
  color: #2f3b52;
  font-weight: 500;
}

.wishlist i {
  margin-right: 8px;
  font-size: 20px;
}
/* Notification */
.notifyicon {
  font-size: 24px; 
  color: #0b0d18;
  cursor: pointer;
}
/* profile */
.profile a {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #2f3b52;
  text-decoration: none;
  font-weight: 500;
  margin-right: 30px;
}

.profile i {
  margin-right: 8px;
  font-size: 20px;
}
/* welcome images */
.welcome_images img{
  width: 100%;
  height: auto;
}
/* categories */
.categories-section {
  width: 100%;
  display: flex;
  justify-content: center;
}
.categories_content {
  width: 98%;
  border: 2px solid rgb(30, 0, 255);  
}
.categories_heading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.categories_section h2{
  font-size: 90px;
  font-weight: 800;
  border: 2px solid red;
}
.category_grid {
  display: flex;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  width: auto;
  flex-wrap: wrap;
  border: 2px solid red;
}
.category_card {
  background-color: white;
  width: 315px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border: 2px solid red; 
}
.card_content {
  width: 90%;
  flex-grow: 1;
  
}
.card_img {
  width: 100%;
  height: 300px;
}
.card_subcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card_subcontent h3 {
  font-size: 27px;
}
.card_subcontent p {
  font-size: 20px;
}
.card_subcontent button {
   width: 130px;
   height: 35px;
   border-radius: 20px;
   background-color: #ef233c;
   border: 0px solid;
   color: white;
}
footer {
  background-color: #1c2431;
  color: white;
}
.footer_grid {
  display: flex;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 2px solid blue;
}
.footer_card {
  width: 345px;
  border: 2px solid orange;
}
.footer_bottom {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid brown;
}
/* laptop */
@media (min-width: 769px) {
  header nav {
    flex-direction: row;
  }
  .hamburger {
    display: none !important;
  }
}
/* tablet */
@media (min-width: 426px) and (max-width: 768px) {
  .right_nav {
    display: none !important;
  }
}
/* mobile */
@media (max-width: 425px) {
  .right_nav {
    display: none !important;
  }
  header nav {
    height: 100px !important;
    align-items: center !important;
  }
  .hamburger {
  display: block;
  font-size: 24px;
  cursor: pointer;
  margin-left: auto;
  }
}