
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #FAFAFA;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  border-bottom: 2px solid gray;
  background-color: white;
}
.logo {
  font-size: 35px;
  margin-left: 20px;
  font-weight: bold;
}
.highlight {
  color: #ef233c;
}
.explore {
  position: relative;
  width: 400px;
}

.explore input {
  width: 100%;
  height: 35px;
  padding-left: 35px;
  background-color: #f5f5f5;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 14px;
  color: #333;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: gray;
  font-size: 14px;
}
.location {
  position: relative;
  width: 200px;
}

.location input {
  width: 100%;
  height: 35px;
  padding-left: 35px;
  border-radius: 10px;
  background-color: #F4F4F4;
  border: none;
  outline: none;
  font-size: 14px;
  color: #333;
}

.location-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: gray;
  font-size: 16px;
}
.home {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #2f3b52;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

.home i {
  margin-right: 8px;
  font-size: 20px;
}


.notifyicon {
  font-size: 24px; 
  color: #0b0d18;
}
.wishlist a {
  display: flex;
  align-items: center;
  font-size: 18px;
  text-decoration: none;
  color: #2f3b52;
  font-weight: 500;
}

.wishlist i {
  margin-right: 8px;
  font-size: 20px;
}

.profile a {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #2f3b52;
  text-decoration: none;
  font-weight: 500;
  margin-right: 30px;
}

.profile i {
  margin-right: 8px;
  font-size: 20px;
}
/* welcome_images */
.img1 {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 0;
  background-size: 100% 100%;
}
/* Small devices (phones) */
@media (max-width: 425px) {
  .img1 {
    height: 60vh;
    object-fit: cover;
  }
}

/* Medium devices (tablets) */
@media (min-width: 426px) and (max-width: 768px) {
  .img1 {
    height: 70vh;
    object-fit: cover;
  }
}

/* Large devices (desktops) */
@media (min-width: 769px) {
  .img1 {
    height: 80vh;
    object-fit: cover;
  }
}
